*{
  box-sizing: border-box;
}


.box-1 {
  /* margin: 150px 0px 0px 0px; */
  /* 4 side */
  /* margin: 100px 25px 50px; */
  /* 3 side */
  /* margin: 100px 50px; */
  /* 2 side */
  margin: 50px;
  /* 1 side */
  /* margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 25px; */
}
.box-2 {
 margin: 100px auto;
  /* padding-left: 30px;
  padding-top: 20px; */
  /* padding: 50px 0px 100px; */
  width: 50%;
  background-color: aqua;
  /* border: 20px solid #ccc; */
}
.box-3 {
  margin-bottom: 300px;
}
.border {
  border: 2px solid #ccc;
}
.button {
  width: 100px;
  
  padding-top: 20px ;
  text-align: center;
  border-radius: 8px;
  background-color: cadetblue;
  box-sizing: content-box;
}